@model Category

@{
    ViewData["Title"] = "Delete";
}
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger alert-dismissible fade show d-flex align-items-center gap-2" role="alert">
        <i class="fa-solid fa-2x fa-circle-exclamation"></i>
        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
        {
            @error.ErrorMessage
        }
    </div>
}


<h1>Delete</h1>
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Item</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CategoryId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="List" class="btn btn-secondary">Cancel</a>
    </form>
</div>
